body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 2.0em;
    background-color: red;
}

.container{
    width: 700px; 
    margin: auto;
    border: 2px #fff;
    padding: 10px;
    background-color: #ccc; 
}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url('..css/images/check.png');
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url('<img src="C:\Users\Johnny\CIT82FA19\juanv_private\lectures\css\css\images\lake.jpg" alt="">');
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center top;  